.navbar {
    width: 100%;
    background-color: rgb(51, 106, 183);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.nav-container a {
    cursor: pointer;
}